{% ckan_extends %}

{% block nums %}
  {% if h.is_back_site() %}
    <div class="nums">
      <dl>
        <dt>{{ _('Followers') }}</dt>
        <dd>{{ h.SI_number_span(organization.num_followers) }}</dd>
      </dl>
      <dl>
        <dt>{{ _('Datasets') }}</dt>
        <dd>{{ h.SI_number_span(organization.package_count) }}</dd>
      </dl>
    </div>
  {% endif %}
{% endblock %}

{% block follow %}
  {% if h.is_back_site() %}
    <div class="follow_button">
      {{ h.follow_button('group', organization.id) }}
    </div>
  {% endif %}
{% endblock %}
