{% ckan_extends %}

{% block heading %}
  <h3 class="dataset-heading">
    {% block heading_title %}
      {{ h.link_to(h.truncate(title, truncate_title), h.url_for(package.type + '_read', controller='package', action='read', id=package.name)) }}
    {% endblock %}
    {% block heading_private %}
      {% if package.private %}
        <span class="dataset-private label label-inverse">
                  <i class="fa fa-lock"></i>
                  {{ _('Private') }}
                </span>
      {% endif %}
    {% endblock %}

    {% block heading_meta %}
      {{ super() }}
    {% endblock %}
  </h3>
{% endblock %}
