{% ckan_extends %}

{% block resource_actions %}
  <ul>
    {% block resource_actions_inner %}
            {% if h.check_access('package_update', {'id':pkg.id }) %}
              <li>{% link_for _('Manage'), controller='package', action='resource_edit', id=pkg.name, resource_id=res.id, class_='btn', icon='wrench' %}</li>
            {% endif %}
            {% set current_lang = request.environ.CKAN_LANG %}
              <!--<li><a class="btn btn-primary" href="/{{ current_lang }}/report?form=link">{{ _('Broken link report') }}</a></li>-->
              <li><a class="btn btn-primary" href="/{{ current_lang }}/report">{{ _('Report') }}</a></li>

            {% if res.url %}
              <li>
                <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}">
                  {% if res.resource_type in ('listing', 'service') %}
                    <i class="icon-eye-open"></i> {{ _('View') }}
                  {% elif  res.resource_type == 'api' %}
                    <i class="icon-key"></i> {{ _('API Endpoint') }}
                  {% elif not res.has_views or not res.can_be_previewed %}
                    <i class="icon-external-link"></i> {{ _('Go to resource') }}
                  {% else %}
                    <i class="icon-download"></i> {{ _('Download') }}
                  {% endif %}
                </a>
              </li>
            {% endif %}
             {#% if 'datastore' in g.plugins %#}
              {% if 'custom_datastore' in g.plugins  or 'datastore' in g.plugins  %}
              <li>{% snippet 'package/snippets/data_api_button.html', resource=res, datastore_root_url=c.datastore_api %}</li>
            {% endif %}
            {% endblock %}
          </ul>
{% endblock %}
{% block resource_view_content %}
  <div class="resource-view">
              {% set resource_preview = h.resource_preview(c.resource, c.package) %}
              {% set views_created = res.has_views or resource_preview %}
              {% set is_local_resource = res.is_local_resource %}
              {% if views_created and is_local_resource %}
                {% if resource_preview and not current_resource_view %}
                  {{ h.resource_preview(c.resource, c.package) }}
                {% else %}
                  {% for resource_view in resource_views %}
                    {% if resource_view == current_resource_view %}

                      {% snippet 'package/snippets/resource_view.html',
                         resource_view=resource_view,
                         resource=c.resource,
                         package=c.package
                       %}
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% else %}
                {# Views not created #}
                <div class="module-content data-viewer-info">
                  <p>{{ _("There are no views created for this resource yet.") }}</p>
                  <p>{{ _("The resource can be downloaded by clicking on 'Link to file'.") }}<p>
                {% if h.is_back_site() %}
                  {% if h.check_access('resource_view_create', {'resource_id': c.resource.id}) %}
                    <p class="muted">
                      <i class="icon-info-sign"></i>
                      {{ _("Not seeing the views you were expecting?")}}
                      <a href="javascript:void(0);" data-toggle="collapse" data-target="#data-view-info">
                        {{ _('Click here for more information.') }}</a>
                    </p>
                    <div id="data-view-info" class="collapse">
                      <p>{{ _('Here are some reasons you may not be seeing expected views:') }}</p>
                      <ul>
                        <li>{{ _("No view has been created that is suitable for this resource")}}</li>
                        <li>{{ _("The site administrators may not have enabled the relevant view plugins")}}</li>
                        <li>{{ _("If a view requires the DataStore, the DataStore plugin may not be enabled, or the data may not have been pushed to the DataStore, or the DataStore hasn't finished processing the data yet")}}</li>
                      </ul>
                    </div>
                  {% endif %}
                {% endif %}
                </div>
              {% endif %}
            </div>
{% endblock %}

{% block primary_content %}
  {% block resource_additional_information %}
    {% if res %}
      <section class="module">
        {% block resource_additional_information_inner %}
        <div class="module-content">
          <h2>{{ _('Additional Information') }}</h2>
          <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
            <thead>
              <tr>
                <th scope="col">{{ _('Field') }}</th>
                <th scope="col">{{ _('Value') }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{ _('Data last updated') }}</th>
                <td>{{ h.render_datetime(res.last_modified) or h.render_datetime(res.created) or _('unknown') }}</td>
              </tr>
              <tr>
                <th scope="row">{{ _('Metadata last updated') }}</th>
                <td>{{ h.render_datetime(res.revision_timestamp) or h.render_datetime(res.created) or _('unknown') }}</td>
              </tr>
              <tr>
                <th scope="row">{{ _('Created') }}</th>
                <td>{{ h.render_datetime(res.created) or _('unknown') }}</td>
              </tr>
              <tr>
                <th scope="row">{{ _('Format') }}</th>
                <td>{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</td>
              </tr>
              <tr>
                <th scope="row">{{ _('License') }}</th>
                <td>{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</td>
              </tr>
              {% for key, value in h.format_resource_items(res.items()) %}
                <tr class="toggle-more"><th scope="row">{{ _(key) }}</th><td>{{ value }}</td></tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endblock %}
      </section>
    {% endif %}
  {% endblock %}
{% endblock %}

{% block resource_read_url %}
            {% if res.url  %}
              <p class="muted ellipsis"> <a class="btn btn-primary" href="{{ res.url }}" title="{{ res.url }}"  target="_blank">{{ _('Link to file') }}</a></p>
            {% endif %}
{% endblock %}


