{% extends "page.html" %}

{% block breadcrumb_content %}
    {{ super() }}
  <li><a href="{{ h.url_for('contact_form') }}">{{ c.contact_title }}</a></li>

{% endblock %}


{% block primary_content %}
  <article class="module">
    <header class="module-content page-header">

      <ul class="nav nav-tabs" id="contactus_menu">
        <li  {% if c.contact_title == _('Contact Us') %} class="active"{% endif %}  id="contactus">
          <a class=" wcag-underline" href="/he/contact" data-wcag-dynamic-font="true" data-wcag-org-font-size="16">
            <i  data-wcag-dynamic-font="true" data-wcag-org-font-size="14">{{_('Contact Us')}}</i>
          </a>
        </li>
        <li {% if c.contact_title == _('Data Request') %} class="active"{% endif %}  id="datarequest">
          <a class=" wcag-underline" href="/he/contact?form=data_request" data-wcag-dynamic-font="true" data-wcag-org-font-size="16">
            <i  data-wcag-dynamic-font="true" data-wcag-org-font-size="14">{{_('Data Request')}}</i>
          </a>
        </li>
      </ul>
    </header>
    <div class="module-content">
      <h1 class="page-heading">{{ c.contact_title }}</h1>

        {% block contact_form_content %}
            {% include "contact/snippets/form.html" %}
        {% endblock %}

    </div>
  </article>
{% endblock %}

{% block secondary_content %}
<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ c.contact_title }}
  </h2>
  <div class="module-content">
    <p>
      {#{ _('Questions? Comments? We are always glad to hear from you!') }#}
    </p>
    </br>
    <div class="text-primary">
      <p>רוצים להישאר מעודכנים? עדכונים, פרסומים, קול קורא וכו'.... הירשמו לרשימת התפוצה, ותקבלו את כל המידע החדש ישירות למייל.
      </p>
      <p><a href="http://lp6.me/VZWVU" class="text-primary">להרשמה לחצו כאן</a></p>
    </div>
  </div>
</div>
{% endblock %}

