{#
Rendering last updated time of the uploaded resource to DataStore
#}

{% resource 'custom_xloader_resources/ajax_xloader_last_updated.js' %}
<th>{{ _('Last updated') }}</th>
{% if status.status %}
<td>
<span class="date"
      title="{{ h.render_datetime(status_last_updated, with_hours=True) }}"
      data-module="ajax_xloader_last_updated"
      data-module-xloader_last_updated_refresh_interval="{{xloader_last_updated_refresh_interval}}"
      data-module-status_last_updated="{{status_last_updated}}">
  {{ h.time_ago_from_timestamp(status_last_updated) }}
</span>
</td>
{% else %}
<td>
  {{ _('Never') }}
</td>
{% endif %}


