.footer-wrapper {
  height: 100px;
  border: solid 1px #707070;
  background-color: #101139;
}

.custom-footer-links {
  margin-top: 30px;
  text-align: center;
}

.custom-footer-links li{
  padding-right: 11px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.custom-footer-links li:first-child  {
  border-right: 2px solid rgba(255, 255, 255, 0.5);
}

.custom-footer-links li:nth-child(2){
  border-right: 2px solid rgba(255, 255, 255, 0.5);
}

.custom-footer-links a {
  font-family: "Open Sans Hebrew", "Open Sans", Arial, sans-serif;
  font-size: 15px;
  color: whitesmoke !important;
}

.custom-footer-links a:hover {
  font-weight: bold;
  text-decoration: none;
}

/* Small devices (tablets, 768px and up) */
/* sm */
@media only screen and (min-width: 768px) {
  .custom-footer-links a {
    font-family: "Open Sans Hebrew", "Open Sans", Arial, sans-serif;
    font-size: 18px;
    color: whitesmoke !important;
  }
}

/* Medium devices (desktops, 992px and up) */
/* md */
@media only screen and (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
/* lg */
@media only screen and (min-width: 1200px) {

}
