.navbar-wrapper {
  background-color: #f4f4f4;
}

.navbar-wrapper > a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: unset;
}

.search-bar-wrapper input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(29, 68, 128, 1);
  opacity: 1; /* Firefox */
}

.search-bar-wrapper input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(29, 68, 128, 1);
}

.search-bar-wrapper input::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(29, 68, 128, 1);
}

.btn-search-bar{
  right: -15px;
  color: #1d4480;
}
.nav-tab-selected {
  border-top-style: solid;
  border-top-color: #ec1651;
  border-top-width: 6px;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  height: 50px;
}

.search-wrapper {
  height: 230px;
  background-color: rgba(0, 171, 205, 0.5);
}

.search-bar-wrapper {
  padding-top: 60px;
}

.search-bar-wrapper input {
  height: 60px;
  font-size: 15px;
  /*margin-left: -20px;*/
  width: 100%;
  padding-right: 40px;
  line-height: 2.7;
  letter-spacing: normal;
  color: rgba(29, 68, 128, 1);
  border: none;
  border-radius: 10px;
}

.search-bar-wrapper input:focus {
  outline: none;
}

.search-bar-wrapper button {
  width: 60px;
  height: 60px;
  font-size: 20px;
  background-color: white;
  border-right: none;
  height: 60px;
  padding-left: 34px;
  margin-right: -50px !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 10px;
}

.header-font-20 {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

.header-font-bold {
  font-weight: bold !important;
}

.cus-nav-tab {
  color: #1d4480 !important;
  letter-spacing: normal;
  height: 75px;
  padding-top: 16px;
  line-height: 53px;
  border-left: #6c757d solid 1px;
  padding-right: 1px;
  padding-left: 1px;
}

.cus-nav-tab:last-child {
  border-right: #6c757d solid 1px;;
}

.gov-logo-wrapper {
  line-height: 0.7;
  height: 70px;
  margin-top: 5px;
  padding-top: 3px;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dataset-count-wrapper {
  font-size: 15px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  line-height: 2.7;
  color: #ffffff;
  background-color: rgba(29, 68, 128, 1);
}

.gov-logo-first-row-col-1 {
  background-image: url('/img/gov_cloud.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #f4f4f4;
  width: 60px;
  height: 36px;
  margin-bottom: -4px;
  display: inline-block;

}

.gov-logo-first-row-col-2 {
  font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: -0.84px;
  color: #ec1651;
}

.cus-nav-tab > a:hover {
  font-weight: bold;
  color: #1d4480 !important;
  text-decoration: none !important;
}

.gov-logo-second-row {
  letter-spacing: -0.53px;
  text-align: left;
  color: #183c7c;
}

.header-text-center {
  text-align: center;
}

.header-text-right {
  text-align: right;
}


/* Small devices (tablets, 768px and up) */
/* sm */
@media only screen and (min-width: 768px) {

  .header-font-20 {
    font-size: 16px;
  }
}

/* Medium devices (desktops, 992px and up) */
/* md */
@media only screen and (min-width: 992px) {
  .header-font-20 {
    font-size: 20px;
  }

  .search-bar-wrapper input {
    font-size: 23px;
  }

  .dataset-count-wrapper {
    font-size: 23px;
  }
}

/* Large devices (large desktops, 1200px and up) */
/* lg */
@media only screen and (min-width: 1200px) {
  .gov-logo-first-row-col-2 {
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: -0.84px;
    color: #ec1651;
  }

  .search-bar-wrapper button {
    font-size: 25px;
  }
}
