.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

/*Move accessibility a tag to left*/
.open_accessibility_panel{
  right: unset !important;
}

.modal-dialog{
  direction: rtl;
}

.ltr {
  direction: ltr !important;
}

.rtl {
  direction: rtl !important;
}

body{
  font-family: "Open Sans Hebrew", "Open Sans", Arial, sans-serif !important;
}

.d-inline-flex{
  display: inline-flex;
}

.wrapper{
  border: none;
  box-shadow: none;
}

.btn-primary{
  color: white !important;
}

.control-order-by > label{
  font-family: "Open Sans Hebrew", "Open Sans", Arial, sans-serif !important;
  font-weight: normal;
  font-size: 18px;
  color: #1d4480;
}

.control-order-by > select{
  font-family: "Open Sans Hebrew", "Open Sans", Arial, sans-serif !important;
  font-weight: normal;
  font-size: 15px;
  color: #1d4480;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px #00abcd;
  background-color: #ffffff;
}

label:before {
  content: "";
}
label:after {
  content: ":";
}

.breadcrumb > li > a{
  color: #1d4480 !important;
}
