#navMobile {
  float: right;
  direction: rtl;
}

#menuToggle {
  display: block;
  position: relative;
  top: -65px;
  z-index: 100000;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #ffffff;
  font-size: 11px;
  font-family: "Open Sans Hebrew", "Open Sans", Arial, sans-serif;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  transition: color 0.3s ease;
  -webkit-transition: -webkit-transform color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}


#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 25px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  margin-right: 25px;
  background: #1d4480;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  -webkit-transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  opacity 0.55s ease;

  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
  -webkit-transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg) ;

  background: #ffffff;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) ;
  -webkit-transform: rotate(-45deg) ;
}
#menuToggle input:checked ~ #menu{
  visibility: visible;
  height: 1400px;
  position: absolute !important;
}

#menu {
  visibility: hidden;
  position: fixed;
  width: 300px;
  height: 0px;
  margin: -100px 0 0 -50px;
  padding-bottom: 100px;
  margin-right: -40px;
  padding-top: 125px;

  background: #1d4480;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  transform: translate(100%, 0);
  -webkit-transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
  display: flex;
  align-items: center;
}

#menu li div {
  display: inline-flex;
  margin-left: 45px;
  height: 60px;
}

.mob-navtab-selected{
  border-left-style: solid;
  border-left-color: #ec1651;
  border-left-width: 6px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 40px !important;
}

#menuToggle input:checked ~ ul {
  transform: none;
  -webkit-transform: none;
}
