.gov-dataset-item{
  margin-bottom: 40px;
}
.search-form{
  all: unset;
}
.gov-dataset-item .dataset-heading a {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: right;
  color: #1d4480;
}

.dataset-resources{
  padding-right: 0px;
}

.module-content{
 padding: 0px;
}

.wrapper:before{
  border-right: none;
}

.filter-list{
  margin-bottom: 20px !important;
}

.gov-dataset-item .dataset-content div{

  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.59;
  letter-spacing: normal;
  /*text-align: right;*/
  color: #5a5a5a;
}
