{% ckan_extends %}

{% block secondary %}
{% endblock %}

{% block primary %}
  <div class="primary col-sm-12 col-xs-12">
    {#
                The primary_content block can be used to add content to the page.
                This is the main block that is likely to be used within a template.

                Example:

                  {% block primary_content %}
                    <h1>My page content</h1>
                    <p>Some content for the page</p>
                  {% endblock %}
                #}
    {% block primary_content %}
      {{ super() }}
    {% endblock %}
  </div>
{% endblock %}
