{% ckan_extends %}

{%- block styles %}
  {{ super() }}

  {% resource 'gov_theme/css/custom-main.css' %}
  {% resource 'gov_theme/css/custom-fonts.css' %}
  {% resource 'gov_theme/css/gov-ltr.css' %}

  {% set current_lang = request.environ.CKAN_LANG %}
  {% if current_lang == "he" %}
    {% resource 'gov_theme/css/gov-rtl.css' %}
  {% endif %}
{% endblock %}



{# Allows custom attributes to be added to the <body> tag #}
{% block bodytag %}
  {{ super() }}
  class="gov-dir"
{% endblock %}>

{#
    DO NOT USE THIS BLOCK FOR ADDING SCRIPTS
    Scripts should be loaded by the {% resource %} tag except in very special
    circumstances
    #}
{%- block scripts %}
  {{ super() }}

  {% resource 'gov_theme/js/gov.js' %}
  {% resource 'gov_theme/js/modernizr-custom.js' %}
  {% if not h.is_back_site() %}
    {% resource 'gov_theme/js/msense.js' %}
  {% endif %}
  {% resource 'gov_theme/js/autocompletecustum.js' %}

{% endblock -%}


{% block body_extras -%}
  {{ super() }}
  {% if not h.is_back_site() %}
    <script src="//msense.tehila.gov.il/widget/avcp.js?p=18178&l=1&c=&s=&j=datagovil&g={08cb46a9-7cd8-4231-9827-d280610c124d}"></script>
  {% endif %}
{%- endblock %}

