{#
Renders a list of resources with icons and view links.

resources - A list of resources to render
pkg - A package object that the resources belong to.

Example:

  {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}

#}
<section id="dataset-resources" class="resources">
  <h3>{{ _('Data and Resources') }}</h3>
  {% block resource_list %}
      {% if resources %}
        <ul class="{% block resource_list_class %}resource-list{% endblock %}">
          {% block resource_list_inner %}
            {% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
            {% for resource in resources %}
              {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource, can_edit=can_edit %}
            {% endfor %}
          {% endblock %}
        </ul>
      {% else %}
        {% if h.check_access('resource_create', {'package_id': pkg['id']}) %}

            {% set vars = {'resource_is_not_accessible': False, 'private_data' : False, 'not_accesible' : False} %}
            {% for extra in pkg.extras %}

              {%if (extra.key == 'Accessibility' and extra.value == _('NotAccessible')) %}
                    {% if vars.update({'not_accesible': True})  %}{% endif %}
              {% elif (extra.key == 'ContainPrivateData' and extra.value == _('Yes')) %}
                    {% if vars.update({'private_data': True})  %}{% endif %}
              {% endif %}
            {% endfor %}
            {%  if vars.private_data and vars.not_accesible %}
              {% if vars.update({'resource_is_not_accessible': True})  %}{% endif %}
            {% endif %}
            {% if vars.resource_is_not_accessible  %}
              {% trans url= h.get_config_value('ckan.site_url') + h.get_config_value('ckan.private_data_page_url')  %}

                <p class="empty">This dataset has no data
                  <div class="page_primary_action">
                    <a class="btn btn-primary" href="{{ url }}"> בקשה למאגר</a>

                  </div>
                </p>
              {% endtrans %}
            {% else %}
                {% trans url=h.url_for(controller='package', action='new_resource', id=pkg.name) %}
                  <p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a></p>
                {% endtrans %}
            {% endif %}
        {% else %}
             {% set vars = {'resource_is_not_accessible': False, 'private_data' : False, 'not_accesible' : False} %}
            {% for extra in pkg.extras %}

              {%if (extra.key == 'Accessibility' and extra.value == _('NotAccessible')) %}
                    {% if vars.update({'not_accesible': True})  %}{% endif %}
              {% elif (extra.key == 'ContainPrivateData' and extra.value == _('Yes')) %}
                    {% if vars.update({'private_data': True})  %}{% endif %}
              {% endif %}
            {% endfor %}
            {%  if vars.private_data and vars.not_accesible %}
              {% if vars.update({'resource_is_not_accessible': True})  %}{% endif %}
            {% endif %}

            {% if vars.resource_is_not_accessible  %}
              {% trans url= h.get_config_value('ckan.site_url') + h.get_config_value('ckan.private_data_page_url')  %}

                <p class="empty">This dataset has no data
                  <div class="page_primary_action">
                    <a class="btn btn-primary" href="{{ url }}"> בקשה למאגר</a>

                  </div>
                </p>
              {% endtrans %}
            {% else %}
              <p class="empty">{{ _('This dataset has no data') }}</p>
            {% endif %}
        {% endif %}
      {% endif %}
    {% endblock %}
</section>
