{% set type = 'organization' if '/organization' in h.full_current_url() else 'dataset' %}
{% set controller_search_form = 'package' if type == 'dataset' else type %}
{% set action_search_form = 'search' if type == 'dataset' else 'index' %}
{% set count = h.get_datasets_count() if type == 'dataset' else h.get_organizations_count() %}
{% set text_no_query = ungettext('{number} dataset', '{number} datasets', count) if type == 'dataset' else ungettext('{number} organization', '{number} organizations', count) %}

{% resource 'gov_theme/js/jquery-ui.js' %}
{% resource 'gov_theme/js/autocomplete-module.js' %}

<form class="" action="{% url_for controller=controller_search_form, action=action_search_form %}" method="get">
  <div class="row search-wrapper">

    <div class="">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 search-bar-wrapper">
        <div class="input-group">
          <div class="input-group-btn">
            <button class="btn header-font-20 btn-search-bar" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
          <input id="{{ type + 's' }}" class="header-font-20 header-text-right" data-module="autocomplete-module"
                 type="text" name="q" value="{{ c.q }}" class="form-control"
                 placeholder="{{ _('Search') }}"/>
        </div>
      </div>
    </div>

    <div class="">
      <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-lg-2 col-lg-offset-5  header-text-center dataset-count-wrapper"
           dir="rtl">
        {% if not c.q %}
          {% set text_no_query = text_no_query.replace('{', '<b>{').replace('}', '}</b>') %}
          {{ text_no_query.format(number=h.localised_number(count), type=type) | safe}}
        {% else %}
          {% snippet 'snippets/search_result_text.html', query=query, count= count, type=type %}
        {% endif %}
      </div>
    </div>
  </div>
</form>
