{#
Renders a media item for a organization. This should be used in a list.

organization - A organization dict.

Example:

    <ul class="media-grid">
      {% for organization in organizations %}
        {% snippet "organization/snippets/organization_item.html", organization=organization %}
      {% endfor %}
    </ul>
#}
{% set url = h.url_for(organization.type ~ '_read', action='read', id=organization.name) %}
{% resource 'gov_theme/css/organization-list.css' %}

{% block item %}
<li class="media-item">
  <a href="{{ url }}" title="{{ _('View {organization_name}').format(organization_name=organization.display_name) }}" class="media-view">
  {% block item_inner %}

    {% block image %}
      <div class="col-xs-12 org-img-wrapper">
        <img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" alt="{{ organization.name }}" class="media-image">
      </div>

    {% endblock %}

    {% block title %}
      <div class="col-xs-12 org-title-wrapper">{{ organization.display_name }}</div>
    {% endblock %}

    {% block datasets %}
          <div class="col-xs-12 org-dataset-title-wrapper"><span class="org-count">{{ organization.package_count }}</span> {{ _('Datasets Count') }}</div>
    {% endblock %}

    {% block resources %}
         <div class="col-xs-12 org-resource-title-wrapper"><span class="org-count">{{ organization.resources_count }}</span> {{ _('Resources Count') }}</div>
    {% endblock %}

    {% block link %}

      <span>{{ _('View {organization_name}').format(organization_name=organization.display_name) }}</span>
    </a>
    {% endblock %}

  {% endblock %}
</li>
{% endblock %}

{% if position is divisibleby 3 %}
  <li class="clearfix js-hide"></li>
{% endif %}
